@charset "UTF-8";
body {
    box-sizing: 0;
    background-color: #FFFFFF;
}
ul a li {
    display: inline-block;
    padding: 10px 20px;
    color: whitesmoke;
    font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
wrapper {
    width: 1366px;
    margin: auto;
    display: block;
    background-color: #FFFFFF;
}
body wrapper main {
}

nav {
    background-color:black;
    color: rgba(0,0,0,1.00);
    text-align: center;
}
ul {
    padding: 0;
    margin: 0;
    color: rgba(0,0,0,1.00);
}
ul a li:hover {
    text-decoration: underline;
}
main {
    height: 910px;
    width: 1366px;
}
.top {
    margin: -135px 0px 0px 0px;
}

wrapper main iframe {
    height: 800px;
}

footer {
    background-color: rgba(255,255,255,0.50);
    padding: 5px;
    color: rgba(0,0,0,1.00);
}
header {
    padding: 5px 10px;
}
h1 {
    text-align: center;
    height: auto;
	font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
	}
h2{
 font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
 text-align: center;
}
p{
font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
li{
	font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
wrapper main h1 {
}
body wrapper main {
}
body wrapper main {
}
